<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1>Calculadora</h1>
        <h1>Sum Calculator</h1>
        <form th:action="@{/CalculadoraOUCR/restaOUCR}" method="post">
            <label for="num1">Number 1:</label>
            <input type="number" id="num1" name="num1" th:value="${num1}"><br>
    
            <label for="num2">Number 2:</label>
            <input type="number" id="num2" name="num2" th:value="${num2}"><br>
    
            <button type="submit">Calcular</button>
        </form>
    
        <p th:if="${result != 0}">
            El resultado de <span th:text="${num1}"></span> + <span th:text="${num2}"></span> es <span th:text="${result}"></span>.
        </p>
    </body>
</html>